body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.options {
    background-color: #1f1f1f;
    color: #fff;
}


.options select,
.form-control {
    background-color: #121212;
    color: #fff;
    border: 1px solid #3b3b3b;

}

.form-control:focus,
.form-control::placeholder {
    background-color: #121212;
    color: #fff;
}



.list-group-item {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #3b3b3b;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #292929;
}

.list-group-item span {
    font-size: 0.875rem;
}

.badge {
    font-size: 0.75rem;
}

button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
}

.card.login,
.card.account {
    background-color: #1f1f1f;
    color: #fff;
    max-width: 470px;
    margin-top: 20vh;
}



#candlestickChart {
    background-color: #1f1f1f;
}

.small-trash-icon {
    font-size: 12px;
    color: #ffffff;
}


.small-trash-icon:hover {
    color: #ffffff;
    transform: scale(1.3)
}