<!doctype html>
<html lang="en">
<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Asset Price Tracker</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

<div class="container-fluid">
    <!--    <nav class="navbar navbar-expand-lg navbar-dark ">-->
    <!--        <div class="container-fluid">-->
    <!--        <span class="navbar-text text-white">-->
    <!--            Logged in as <strong>Tomek4861</strong>-->
    <!--        </span>-->
    <!--            <button class="btn btn-outline-danger ms-auto" type="button">Log out</button>-->
    <!--        </div>-->
    <!--    </nav>-->

    <div class="d-flex justify-content-between align-items-center ">
        <span>Logged in as <strong>Tomek4861</strong></span>
        <h1 class="text-center fw-bold py-3">Crypto Asset Tracker</h1>

        <button class="btn btn-outline-danger">Log out</button>
    </div>

    <!--    <div class="row">-->
    <!--        <h1 class="text-center fw-bold py-3">Crypto Asset Tracker</h1>-->
    <!--    </div>-->
    <div class="row ">
        <div class="col-md-2">
            <div class="card options asset-options">
                <div class="card-header"><h3 class="text-center fw-bold">Options</h3></div>
                <div class="card-body">

                    <form method="GET" id="optionsForm">
                        <div class="mb-3">
                            {{ form.coin.label_tag }}
                            {{ form.coin }}
                        </div>
                        <div class="mb-3">
                            {{ form.currency.label_tag }}
                            {{ form.currency }}
                        </div>
                        <div class="mb-3">
                            {{ form.timeframe.label_tag }}
                            {{ form.timeframe }}
                        </div>
                        <div class="mb-3">
                            {{ form.chart_type.label_tag }}
                            {{ form.chart_type }}
                        </div>
                    <div class="buttons mt-5">
                        <button class="btn btn-secondary d-block mb- mx-auto w-100 mb-3">Add To Watchlist</button>
                        <div>
                            <button class="btn btn-primary btn-lg d-block mx-auto shadow-md w-100">Update</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-8">
            <!--            <h1 class="text-center">BITCOIN USD SPOT</h1>-->
            <div id="candlestickChart"> </div>



<!--            <img alt="placeholder" class="img-fluid rounded d-block mx-auto" src="https://via.placeholder.com/1300">-->

        </div>


        <div class="col-md-2">

            <div class="card options watchlist">
                <div class="card-header"><h3 class="text-center fw-bold">Watchlist</h3></div>
                <div class="card-body">
                    <div class="list-group">
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">ETH</span>
                            <span class="fw-normal text-danger mt-2 mt-md-0">3150,06 / - 0,85% USD</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">SOL</span>
                            <span class="fw-normal text-success mt-2 mt-md-0">206,06 USD / +1,65%</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">ETH</span>
                            <span class="fw-normal text-danger mt-2 mt-md-0">3150,06 / - 0,85% USD</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">SOL</span>
                            <span class="fw-normal text-success mt-2 mt-md-0">206,06 USD / +1,65%</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">ETH</span>
                            <span class="fw-normal text-danger mt-2 mt-md-0">3150,06 / - 0,85% USD</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">SOL</span>
                            <span class="fw-normal text-success mt-2 mt-md-0">206,06 USD / +1,65%</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">ETH</span>
                            <span class="fw-normal text-danger mt-2 mt-md-0">3150,06 / - 0,85% USD</span>
                        </div>
                        <div
                                class="list-group-item d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center py-3">
                            <span class="fw-bold">SOL</span>
                            <span class="fw-normal text-success mt-2 mt-md-0">206,06 USD / +1,65%</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="../static/script.js"></script>
</body>
</html>