{% extends 'base.html' %}

{% block title %}Crypto Asset Tracker{% endblock %}


{% block content %}


  <div class="row ">
    <div class="col-lg-2 mb-5">
      <div class="card options asset-options">
        <div class="card-header"><h3 class="text-center fw-bold">Options</h3></div>
        <div class="card-body">

          <form method="GET" id="optionsForm">
            <div class="mb-3">
              {{ form.coin.label_tag }}
              {{ form.coin }}
            </div>
            <div class="mb-3">
              {{ form.currency.label_tag }}
              {{ form.currency }}
            </div>
            <div class="mb-3">
              {{ form.timeframe.label_tag }}
              {{ form.timeframe }}
            </div>
            <div class="mb-3">
              {{ form.chart_color.label_tag }}
              {{ form.chart_color }}
            </div>
            <div class="buttons mt-5">
              <button class="btn btn-secondary d-block mx-auto w-100 mb-3" id="addToWatchlist">Add To Watchlist</button>
              <div>
                <button class="btn btn-primary btn-lg d-block mx-auto shadow-lg w-100">Update</button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>


    <div class="col-lg-8 mb-5">
      <!--            <h1 class="text-center">BITCOIN USD SPOT</h1>-->
      <div id="candlestickChart"></div>


    </div>


    <div class="col-lg-2 mb-5 ">
      <div class="card options watchlist mb-4">
        <div class="card-header"><h3 class="text-center fw-bold">Watchlist</h3></div>
        <div class="card-body">
          {% csrf_token %}
          <div class="list-group">

          </div>
        </div>
      </div>
    </div>


  </div>
{% endblock %}

{% block scripts %}
  {% load static %}
  <script type="module" src="{% static 'js/home_script.js' %}"></script>
{% endblock %}
