{% extends 'base.html' %}

{% block title %}Portfolio - Crypto Asset Tracker{% endblock %}


{% block content %}


  <div class="row">
    <div class="col-md-2 mb-5">
      <div class="card options asset-options">
        <div class="card-header"><h3 class="text-center fw-bold">Options</h3></div>
        <div class="card-body">

          <form id="PortfolioForm">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_coin">Coin:</label>
              <select name="coin" class="form-select mb-3" id="id_coin">
                {% for value, label in coins %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="amount">Amount</label>
              <input type="number" id="amount" value="0" name="amount" min="0" step="0.00000001" class="form-control">
            </div>
            <div class="buttons mt-5">
              <div>
                <button class="btn btn-primary btn-lg d-block mx-auto shadow-md w-100" id="add-coin-btn">Add Coin
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>


    <div class="col-md-7 mb-5">
      <div class="container table-custom rounded-3" id="user-portfolio">
        <div class="row fw-bold py-2 table-row" id="portfolio-header">
          <div class="col-1 col-lg-1 ">#</div>
          <div class="col-2 col-lg-2">Coin</div>
          <div class="col-3 col-lg-2">Amount</div>
          <div class="col-3 col-lg-2">Value</div>
          <div class="col-lg-3 d-none d-lg-inline">Price Change 24H</div>
          <div class="col-3 col-lg-2 text-center">Actions</div>
        </div>
        <div id="portfolio-rows">
          <!-- dynamic content (: -->
        </div>
      </div>

    </div>


    <div class="col-md-3 mb-5">
      <div class="container-fluid rounded text-center py-3 px-4 mb-4" id="portfolio-summary-container">
        <p class="fw-normal fs-5">
          Your Portfolio is worth:
        </p>
        <p id="portfolio-value" class="text-glow fw-bold"></p>
        <div id="portfolio-change-container" class="fw-normal fs-6 mx-3 my-2">
          <span class="me-4 text-white">In last 24H:</span>
          <span id="portfolio-change-value"></span>
          <span id="portfolio-change-percent"></span>
        </div>


      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {% load static %}
  <script type="module" src="{% static 'js/portfolio_script.js' %}"></script>
{% endblock %}
