:root {
    --font-family: Arial, sans-serif;
    --color-bg: #121212;
    --color-bg-secondary: #1f1f1f;
    --color-text: #fff;
    --color-border: #3b3b3b;
    --color-hover-bg: #292929;
    --color-red-fancy: #f54242;
    --color-green-fancy: #42f590;
}



body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.options {
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
}


.options select,
.form-control {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);

}

.form-control:focus,
.form-control::placeholder {
    background-color: var(--color-bg);
    color: var(--color-text);
}



.list-group-item {
    font-size: 0.87rem;
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}




@media (min-width: 1715px) {
.list-group-item {
      font-size: 1rem;
    }
}

.list-group-item:hover {
    background-color: var(--color-hover-bg);
}



button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
}

.card.login,
.card.account {
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
    max-width: 470px;
    margin-top: 20vh;
    transform: translateY(-10%);
}



#candlestickChart {
    background-color: var(--color-bg-secondary);
}


.btn-close {
    color: var(--color-text);
    font-size: 20px;
}



#portfolio-summary-container {
    background-color: var(--color-bg-secondary);
    display: inline-block;
}


.glow-red {
    color: var(--color-red-fancy);
    text-shadow: 0px 0px 10px var(--color-red-fancy), 0px 0px 30px var(--color-red-fancy);
}
.glow-green {
    color: var(--color-green-fancy);
    text-shadow: 0px 0px 10px var(--color-green-fancy), 0px 0px 30px var(--color-green-fancy);
}

.fancy-red {
    color: var(--color-red-fancy);
}
.fancy-green {
    color: var(--color-green-fancy);
}

#portfolio-value {
    font-size: 3rem;
}
@media (min-width:768px) {
    #portfolio-value {
        font-size: 1.75rem
    }
}
@media (min-width:922px) {
    #portfolio-value {
        font-size: 2.15rem
    }
}

@media (min-width:1400px) {
    #portfolio-value {
        font-size: 3rem
    }
}

#user-portfolio  {
    background-color: var(--color-bg-secondary);
}

.table-custom .row {
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.table-custom .row:hover {
    background-color: var(--color-hover-bg);
}
.action-icon {
    color: var(--color-text);
}


#customFooter {
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
    position:fixed;
    bottom:0;

}

@media (min-width: 1715px) {
    .watchlist-price {
        padding-right: 0.5rem
    }
}
